In [3]:
import os
import sys
from pprint import pprint
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.dates as mdates
import time
import calendar
from datetime import datetime, date, timedelta
import pickle

In [17]:
#open the df_bitfinex_volume.csv file
df_bitfinex_volume = pd.read_csv("df_bitfinex_volume.csv")
df_bitfinex_volume.index =df_bitfinex_volume['Date']
df_bitfinex_volume = df_bitfinex_volume.drop(['Date'], axis=1)
df_bitfinex_volume

            Daily Volume
Date
2013-03-31   5224.401313
2013-04-01   8376.527478
2013-04-02  12996.245072
2013-04-03   6981.668305
2013-04-04   5234.882203
...                  ...
2023-07-11   1636.401373
2023-07-12   3763.115501
2023-07-13   2982.608992
2023-07-14    638.169886
2023-07-15    635.434537

[3759 rows x 1 columns]

In [25]:
# open the df_price_btc_usd_mtgox_daily file
df_price_btc_usd_mtgox_daily = pd.read_csv("/home/moises/Data_BTC_thesis/df_price_btc_usd_agregate.csv")
df_price_btc_usd_mtgox_daily_svar = df_price_btc_usd_mtgox_daily[df_price_btc_usd_mtgox_daily["Date"]>="2013-03-31"] 
df_price_btc_usd_mtgox_daily_svar.index = df_price_btc_usd_mtgox_daily_svar['Date']
del df_price_btc_usd_mtgox_daily_svar['Date']
df_price_btc_usd_mtgox_daily_svar

                   Close
Date
2013-03-31     92.743611
2013-04-01    100.409370
2013-04-02    108.063618
2013-04-03    128.261101
2013-04-04    132.155428
...                  ...
2023-07-27  29312.836826
2023-07-28  29358.839335
2023-07-29  29268.279610
2023-07-30  29223.472673
2023-07-31  29698.521370

[3775 rows x 1 columns]